* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #DFDCDC;
  color: black;
  font-family: "Poppins", sans-serif;
}
nav {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: space-between;
  padding: 15px 4px;
  color: #0A0A0A;
  background-color: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 18px;
  font-weight: 400px;
  line-height: 27px;
}
 .logo {
  font-size: 30px;
  font-weight: 900;
  margin: 0;
}
nav ul {
  display: flex;
  list-style: none;
}
nav ul li {
  padding: 8px 15px;
  transition: 0.25s ease-in;
}
nav ul li a {
  color: #0A0A0A;
  font-size: 17px;
  font-weight: 700;
  text-decoration: none;
  margin-right: 70px;
}
nav .nav-menu button {
  padding: 14px 40px;
  border-radius: 5px;
  font-size: 12px;
  border-style: none;
  font-weight: 700;
}

nav ul li :hover {
  background-color: rgb(29, 106, 141);
}
nav .menubtn {
  font-size: 30px;
  font-weight: bolder;
  cursor: pointer;
  display: none;
}

.sideNav {
  height: 100%;
  position: fixed;
  top: 0;
  right: 0%;
  width: 20%;
  background-color: black;
  overflow-x: hidden;
  transition: 0.3s ease-in;
  padding-top: 80px;
  display: none;
}
.sideNav a {
  padding: 8px 8px 8px 30px;
  display: block;
  font-size: 15px;
  color: white;
  transition: 0.3s;
  text-decoration: none;
}

.sideNav a button {
  padding: 5px 10px;
  border-radius: 10px;
  color: black;
  font-size: 12px;
  border-style: none;
  font-weight: 600;
}
.sideNav a :hover {
  color: black;
}
.sideNav .closebtn {
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 15px;
  margin-left: 50px;
}
.button2 {
  width: 120px;
  height: 35px;
  padding: 8px, 16px, 8px, 16px;
  border-radius: 8px;
  border-style: none;
  color: #D0E9F6;
  background-color: #0C618D;
  font-size: 17px;
  font-weight: 100;
  margin-left: 30px;
  cursor: pointer;
}
.button1 {
  background-color: #FFFFFF;
  width: 120px;
  height: 35px;
  padding: 8px, 16px, 8px, 16px;
  border-radius: 8px;
  border-width: 2px;
  border-color: #0C618D;
  color: #0C618D;
  font-size: 17px;
  font-weight: 100;
  margin-right: 30px;
  cursor: pointer;
}

a {
  text-decoration: none;
}

.chief {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2% 2%;
}
.scarypix {
  -webkit-mask-image: linear-gradient(black, transparent);
  mask-image: linear-gradient(black, transparent);
  margin-top: 20px;
}
.chief .scary {
  padding-right: 50px;
}
.scary h1 {
  font-size: 50px;
  margin-bottom: 10px;

}
.scary p {
  font-size: 20px;
  margin-bottom: 20px;
}
.scary button {
  width: 220px;
  height: 58px;
  padding: 8px, 16px, 8px, 16px;
  border-radius: 8px;
  box-shadow:  0px 4px 4px rgba(176, 219, 240, 0.5);
  border-style: none;
  color: #D0E9F6;
  background-color: #0C618D;
  font-size: 17px;
  font-weight: 600;
}
.button3{
  display: none;
}

.list{
  overflow: hidden;
  transform: translateX(0);
  transition: all 1s ease-in-out;
  position: relative;
}
.column1 {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 2% 4px;
  transition: all 1s ease-in-out;
}
.cards_1 {
  text-align: center;
  background-color: white;
  border-radius: 5px;
  border: none;
  outline: solid;
  outline-color: white;
  outline-style: outset;
  outline-width: 1px;
  width: 25%;
  margin-top: -40px;
  z-index: 20;
  position: relative;
  margin-left: 160px;
}
.cards_1 p {
  font-size: 10px;
}
.cards_1 h4 {
  font-size: 12px;
}

.latestpix_1,
.latestpix_2,
.latestpix_3 {
  z-index: 30;
  object-fit: cover;
  margin: 0 30px;
}
.latest_1 {
  display: block;
  margin: 0;
  transition: all 1s ease-in-out;
}
.latest_1 :hover{
 transform: scale(1.2);
 margin-top: 20px;
 }

.latest_2 {
  display: block;
  transition: all 1s ease-in-out;
  margin: 0;
  
}
.latest_2 :hover{
 transform: scale(1.2);
 margin-top: 20px;
}

.latest_3 {
  display: block;
  margin: 0;
  transition: all 1s ease-in-out;
}
.latest_3 :hover{
 transform: scale(1.2);
 margin-top: 20px;
}
.column1 arrow{
  font-size: 180px;
  position: absolute;
  color: rgb(85, 85, 233);
  top: 110px;
  right: 0;
  opacity: 0.9;
}
.column2 {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 2% 4px;
  transition: all 1s ease-in-out;
  
}
.cards_2 {
  text-align: center;
  background-color: white;
  border-radius: 5px;
  border: none;
  outline: solid;
  outline-color: white;
  outline-style: outset;
  outline-width: 1px;
  width: 25%;
  margin-top: -40px;
  z-index: 20;
  position: relative;
  margin-left: 160px;
}
.cards_2 p {
  font-size: 10px;
}
.cards_2 h4 {
  font-size: 12px;
}

.shortpix_1,
.shortpix_2,
.shortpix_3 {
  z-index: 30;
  object-fit: cover;
  margin: 0 30px;
}
.short_1 {
  display: block;
  margin: 0;
  transition: all 1s ease-in-out;
}
.short_1 :hover{
 transform: scale(1.2);
 margin-top: 20px;
}

.short_2 {
  display: block;
  margin: 0;
  transition: all 1s ease-in-out;
}
.short_2 :hover{
 transform: scale(1.2);
 margin-top: 20px;
}

.short_3 {
  display: block;
  margin: 0;
  transition: all 1s ease-in-out;
}
.short_3 :hover{
 transform: scale(1.2);
 margin-top: 20px;
}
.column2 arrow{
  font-size: 80px;
  position: absolute;
  color: rgb(85, 85, 233);
  top: 450px;
  right: 0;
  opacity: 0.9;
  
}

.column3 {
  display: flex;
  flex-wrap:nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 2% 4px;
}
.cards_3 {
  text-align: center;
  background-color: white;
  border-radius: 5px;
  border: none;
  outline: solid;
  outline-color: white;
  outline-style: outset;
  outline-width: 1px;
  width: 25%;
  margin-top: -40px;
  z-index: 20;
  position: relative;
  margin-left: 160px;
}
.cards_3 p {
  font-size: 10px;
}
.cards_3 h4 {
  font-size: 12px;
}

.popularpix_1,
.popularpix_2,
.popularpix_3 {
  z-index: 30;
  margin: 0 30px;
}
.popular_1 {
  display: block;
  transition: all 1s ease-in-out;
}
.popular_1 :hover{
 transform: scale(1.2);
 margin-top: 20px;
}

.popular_2 {
  display: block;
  transition: all 1s ease-in-out;  
}
.popular_2 :hover{
 transform: scale(1.2);
 margin-top: 20px;
}

.popular_3 {
  display: block;
  transition: all 1s ease-in-out;
}
.popular_3 :hover{
 transform: scale(1.2);
 margin-top: 20px;
}
.column3 .arrow{
  font-size: 80px;
  position: absolute;
  color: rgb(85, 85, 233);
  top: 900px;
  right: 0;
  opacity: 0.9;
}
.arrow{
  font-size: 1200px;
  color: red;
}
.boat {
  margin-top: 10px;
  padding: 12px;
  margin-bottom: 10px;
  margin-right: 450px;
  margin-left: 450px;
  text-align: center;
  color: black;
}
.boat button {
  background-color: rgb(29, 106, 141);
  border-style: none;
  border-radius: 15px;
  padding: 20px;
}
.base {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2% 2%;
}
.base .studentsnote {
  padding-left: 30px;
}
.studentsnote h2 {
  font-size: 20px;
  margin-bottom: 10px;
}
.studentsnote p {
  font-size: 20px;
  margin-bottom: 20px;
  text-align: center;
}
.students {
  margin-top: 40px;
}
footer {
  background-color: rgba(208, 233, 246, 0.6);
  padding-bottom: 1rem;
}
.foot {
  display: flex;
  color: #0A0A0A;
  width: 80%;
  height: 40vh;
  justify-content: center;
  flex-wrap: nowrap;
  margin: 80px 40px;
  padding-top: 30px;
}
.left {
  display: flex;
  flex-direction: column;
  margin-right: 10rem;
}
.foot p {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
}
.middle {
  display: flex;
  flex-direction: column;
  margin-right: 10rem;
}
.right {
  display: flex;
  flex-direction: column;
  margin-left: 2rem;
  width: 100%;
}
.middle p {
  margin-bottom: 1rem;
  font-size: 14px;
}
.right p {
  margin-bottom: 1rem;
  font-size: 16px;
}
.foot h4 {
  margin-bottom: 12px;
}
footer h5 {
  font-size: 15px;
  text-align: center;
  font-weight: 300;
}
h3 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 100px;
  margin-bottom: 4px;
}
h4 {
  margin-top: 15px;
}

img {
  border-radius: 20px;
  margin-top: 2px;
}
footer span {
  font-size: 20px;
}
.solid{
  border-top: 3px solid #B0DBF0;
  width: 100%;
  margin-top: 10px;
}

@media screen and (max-width: 600px) {
  nav .menubtn {
    display: flex;
  }
  nav .navmenu {
    display: none;
  }
  .sideNav {
    display: block !important;
    position: fixed;
  }
.scary button{
  display: none;
}
.button3{
  display: block;
  margin-top: 20px;
  text-align: center;
  width: 380px;
  height: 39px;
  padding: 8px, 16px, 8px, 16px;
  border-radius: 8px;
  box-shadow:  0px 4px 4px rgba(176, 219, 240, 0.5);
  border-style: none;
  color: #D0E9F6;
  background-color: #0C618D;
  font-size: 17px;
  font-weight: 600;
}
.scary h1 {
  font-size: 20px;
}
.chief {
  flex-direction: column;
  margin-top: 40px;
}
.chief .scary {
  padding: 10px;
  text-align: center;
}
.scarypix img {
  -webkit-mask-image: linear-gradient( to right black, transparent);
  mask-image: linear-gradient(to right black, transparent);
  width: 380px;
  height: 227px;
}
.column1 .column2 .column3{
  overflow: hidden;
  transition: none;
  
}
.boat{
  flex-direction: column;
  margin-top: 10px;
  padding: 12px;
  margin-bottom: 10px;
  color: black;
}
.base{
 display: none;
}
.foot{
  display: block !important;
}
}


/*contact page styling*/
.previous1{
  color: white;
  margin-left: 40px;
}
.above {
  display: flex;
  float: left;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border: none;
  outline: solid;
  outline-color: white;
  outline-style: outset;
  outline-width: 1px;
  width: 70%;
  margin-top: -30px;
  margin-bottom: 40px;
  z-index: 20;
  position: relative;
  margin-left: 150px;
  margin-right: 150px;
  box-shadow: 0px 5px rgb(4, 68, 110);
}
nav2 .action {
  font-size: 30px;
  font-weight: 700;
  padding-top: 30px;
  padding-left: 120px;
}

nav2 ul {
  display: flex;
  list-style: none;
}
nav2 {
  width: 100%;
  height: 180px;
  display: flex;
  justify-content: space-between;
  padding: 25px 5%;
  background-color: rgb(4, 68, 110);
}
label {
  color: rgb(4, 68, 110);
}

input[type="text"],
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid rgb(29, 106, 141);
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: rgb(29, 106, 141);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: grey;
  color: rgb(29, 106, 141);
}

.form {
  border-radius: 5px;
  background-color: white;
  padding: 30px;
  width: 50%;
}
.contact {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
  margin-top: 60px;
  padding: 20px;
}
.contact h4 {
  color: rgb(29, 106, 141);
  text-align: center;
}
.contact p {
  color: rgb(4, 68, 110);
  text-align: center;
  font-size: 12px;
  margin-bottom: 40px;
}
.socials {
  text-align: center;
  margin-top: 200px;
}
.fa {
  font-size: 20px;
  width: 30px;
  text-decoration: none;
  color: rgb(4, 68, 110);
  padding: 10px;
}

/*login page styling*/
.previous2{
  color: #0C618D;
  margin-left: 20px;
}
.welcome {
    padding: 25px;
    margin-left: 50px;
    font-size: 25px;
    font-weight: 600;
    color: rgb(4, 68, 110);
}
.log {
  display: flex;
  float: left;
  justify-content: space-between;
  padding: 10px;
  margin: 2% 5%;
  width: 100%;
}
.fill input[type="text"],
.fill input[type="password"],
.fill input[type="email"] {
  width: 80%;
  padding: 12px 25px;
  margin: 20px 0;
  display: block;
  border: 1px solid rgb(4, 68, 110);
  border-radius: 10px;
}

.fill #id_gender, .fill #id_student_id_card{
  width: 80%;
  padding: 12px 25px;
  margin: 20px 0;
  display: block;
  border: 1px solid rgb(4, 68, 110);
  border-radius: 10px;
}
.button5 {
  background-color: rgb(4, 68, 110);
  color: white;
  padding: 14px 2px;
  margin: 20px 140px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: 40%;
}

.button5:hover {
  opacity: 0.8;
}

.fill {
  margin-bottom: 50px;
}

.log form {
  width: 50%;
}

 .psw {
  float: right;
  padding-top: 6px;
  margin-right: 150px;
  text-decoration: none;
}
.account {
  margin-top: 60px;
  margin-left: 80px;
}
.account a {
  margin-left: 15px;
}
.avatar img {
  border-radius: 0px;
  height: 60vh;
  border: none;
  width: 70%;
}
/*reset password page styling*/
.reset_password {
  background-color: lightgray;
  width: 100%;
  height: 100%;
  display: flex;
  float: left;
  justify-content: space-between;
  padding: 10px;
  margin: 2% 2%;
  
}
.reset_password h1{
  text-align: center;
  margin-bottom: 40px;
}
.reset_password form{
  width: 50%;
}
.forgot {
 padding: 60px;
 margin-left: 156.5px;
 margin-top: 50px;
 background-color: #FFFFFF;
 border-radius: 16px;
 justify-content: space-between;
 width: 1127px;
 height: 905px;
}

.forgot input[type=text], .forgot input[type=password] {
 width: 100%;
 padding: 25px;
 margin: 35px 0 35px 0;
 display: inline-block;
 border: none;
 background: #f1f1f1;
 border-radius: 5px;
}

.forgot input[type=text]:focus, .forgot input[type=password]:focus {
 background-color: lightblue;
 outline: none;
 padding: 25px;
 
}
.forgot label{
  padding-top: 180px;
}

hr {
 border: 1px solid #f1f1f1;
 margin-bottom: 25px;
}


.resetbtn {
 background-color: #1292D3;
 color: white;
 padding: 16px 20px;
 margin: 20px 180px;
 border: none;
 cursor: pointer;
 width: 50%;
 opacity: 0.9;
 border-radius: 5px;
}

.resetbtn:hover {
 opacity: 1;
}
.previous3{
  color: #0C618D;
  
}
/*upload page*/

.a{
  display: flex;
  flex-direction: left;
  background-color: #FFFFFF;
  height: 90vh;
 
}
.upload_foot{
  height: 10vh;
}
.alpha{
  display: block;
  width: 15%;
}
.alpha, .content{
  margin: 20px;
}
.content{
  width: 85%;
  padding-left: 35px;
}
.topbar{
  display: flex;
  flex-direction: left;
}
.search-container{
  display: flex;
  flex-direction: right;
}
.search-container input[type=text]{
  padding-left: 40px;
  padding-right: 250px;
  color: #000;
  border-radius: 16px;
}
.content .topbar button {
  background: none;
  border: none;
  padding-right: 16px;
  padding-top: 16px;
  margin-left: 10px;
  cursor: pointer;
  position: absolute;
}
.upload_box{
  border: none;
  outline: solid;
  outline-color: white;
  outline-style: outset;
  outline-width: thick;
  width: 80%;
  height: 50vh;
  margin-top: 100px;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.25);
}
.topbar img{
  padding: 10px;
  margin-left: 5px;
  background:#0C618D;
  font-size: 10px;
  border: none;
  cursor: pointer;
  border-radius: 50%;
}
.bell{
  padding: 5px;
  margin-left: 600px;
}
.alpha .menu a{
  padding-right: 30px;
  padding-left: 20px;
  color: #0A0A0A;
  opacity: 0.5;
}
.alpha .menu a:hover{
  opacity: 1;
}
.alpha .menu{
  margin-left: 25px;
  margin-top: 40px;
}
.file{
  text-align: center;
  padding: 20px;
  margin-top: 100px;
}
.file span{
  font-size: 60px;
  opacity: 1;
}
.upload_box h4{
  font-size: 32px;
  font-weight: 700;
  padding-top: 23px;
  padding-left: 32px;
  padding-bottom: 23px;
}
.button4{
  padding: 8px;
  background-color: #1292D3;
  border-radius: 8px;
  color:#B0DBF0;
  border: none;
  margin-top: 15px;
  margin-bottom: 10px;
}
.menu span{
  font-size: 16px;
  padding-right: 10px;
}
.menu ul li{
  list-style-type: none;
}

.reg_top {
  color:  rgb(29, 106, 141);
  /* border: 2px solid red; */
  padding-left: 80px;
}

.reg_top img{
  width: 150px
}



/*watch_coment_page*/
.video_me{
  display: block;
  background-color: #FFFFFF;
  overflow: hidden;
}
.watch{
  width: 1440px;
  height: 50%;
  padding: 25px;
}
.comment{
  display: flex;
  float: left;
  height: 50%;
  width: 100%;
  background-color: #FFFFFF;
  padding: 25px;
}
.cruise{
  width: 50%;
 line-height: 20px;
}
.cruise h2{
  margin-bottom: 20px;
}
.play{
  width: 50%;
  margin-left: 450px;
  
}
.play p{
font-size: 12px;
font-weight: 200;
letter-spacing: 0.0125em;
text-align: left;
padding-bottom: 20px;

}
.play h4{
font-size: 24px;
font-weight: 500;
letter-spacing: 0em;
text-align: left;

}
.play img{
  padding-top: 5px;
  text-align: right;
}
.play h2{
  padding-bottom: 20px;
}
.h{
  display: flex;
}
.h a span{
  color: #0A0A0A;
  font-size: 18px;
}
.h a {
  padding-right: 20px;
  margin-top: 16px;
}
.j{
  display: flex;
}
.j input[type="text"]{
  border: none;
  width: 250px;
  line-height: 20px;
}
.k{
  display: flex;
}
.l{
  display: block;
  font-size: 16px;
  font-weight: 500;
  padding-top: 8px;
  padding-bottom: 25PX;
  line-height: 20px;
}
/*watch-view-default*/
.slidecontainer img{
  position: relative;
  background-size: cover;
  overflow: hidden;
}
.slidecontainer {
  width: 100%;
  position: absolute;
  

}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 23px;
  height: 24px;
  border: 0;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 23px;
  height: 24px;
  border: 0;
  cursor: pointer;
}

.msg{
  /* border: 1px solid red; */
  position: fixed;
  width: 100%;
  padding: 10px;
  padding-left: 100px;
  border-radius: 10px;
  background: #0c628dd5;
  color: rgba(255, 255, 255, 0.781);
  font-size: 1.2em;
  list-style-type: none;
}


.errorlist {
  list-style-type: none;
  color: red;
  padding: 5px;
}

#id_comment{
  border: none;
  border-bottom: 1px solid grey;
  height: 30px;
  overflow: hidden;
  /* width: 500px; */
}


