{% extends 'base.html' %}
{% load static %}
{% block content %}

<nav>
    <div class="logo"><img src="{% static 'images/logo.svg' %}" alt="logo" width="180px" height="50px"></div>
    <span class="menubtn" onclick="openNav()"> &#9776; </span>
    <div class="navmenu">
        <ul>
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#about_us">About Us</a>
            </li>
            <li>
                <a href="contact/">Contact Us</a>
            </li>
            <li>
                <a href="#">Info</a>
            </li>
            <a  href="login/">
                <button class="button1" type="button">LogIn</button>
            </a>
            <a href="register/">
                <button class="button2" type="button">Sign Up</button>
            </a>
        </ul>
    </div>
</nav>

<div class="sideNav" id="sidenav">
    <a href="#" class="closebtn" onclick="closeNav()" >&#10006;</a>
    <a href="#">Home</a>
    <a href="#about_us">About Us</a>
    <a href="contact_us.html">Contact Us</a>
    <a href="#">Info</a>
    <a  href="login/">
        <button class="button1" type="button">LogIn</button>
    </a>
    <a href="register/">
        <button class="button2" type="button">Sign Up</button>
    </a>
</div>
<main>
    <div class="chief">
        <div class="scary">
            <h1>Create and Watch Videos
            </h1>
            <p>Get unlimited access to make your own short movies and  watch your favorite videos once you sign up.</p>
            <a href="register/"><button >Get Started</button></a>
        </div>
        <div class="scarypix">
            <img src="{% static 'images/IMAGE_1.jpg' %}" alt="shortfilm" width="514px" height="363px">
        </div>
        <button href="register.html" class="button3">Get Started</button>
    </div>
    <hr class="solid">
    <h3 style="text-align: center;">Latest movies uploaded</h3>
    <div class="list">
    <div class="column1" id="column">
        <div class="latest_1">
            <div class="latestpix_1">
                <img src="{% static 'images/LATEST_FILM_1.jpg' %}" alt="shortfilm" width="367px" height="260px">
            </div>
            <div class="latestnote_1">
                <div class="cards_1"> <h4>BIG MAN</h4>
                <p>Action, crime and comedy</p>
            </div>
            </div>
        </div>
        <div class="latest_2">
            <div class="latestpix_2">
                <img src="{% static 'images/LATEST_FILM_2.jpg' %}" alt="shortfilm" width="367px" height="260px">
            </div>
            <div class="latestnote_2">
                <div class="cards_1"> <h4>FUGUE</h4>
                    <p>Action, crime and comedy</p>
                </div>
            </div>
        </div>
        <div class="latest_3">
            <div class="latestpix_3">
                <img src="{% static 'images/LATEST_FILM_3.jpg' %}" alt="shortfilm" width="367px" height="260px">
            </div>
            <div class="latestnote_3">
                <div class="cards_1"> <h4>LADY KOI KOI</h4>
                    <p>Action, crime and comedy</p>
                </div>
            </div>
        </div>
        <div class="latest_1">
            <div class="latestpix_1">
                <img src="{% static 'images/LATEST_FILM_1.jpg' %}" alt="shortfilm" width="367px" height="260px">
            </div>
            <div class="latestnote_1">
                <div class="cards_1"> <h4>BIG MAN</h4>
                    <p>Action, crime and comedy</p>
                </div>
            </div>
        </div>
        <div class="latest_2">
            <div class="latestpix_2">
                <img src="{% static 'images/LATEST_FILM_2.jpg' %}" alt="shortfilm" width="367px" height="260px">
            </div>
            <div class="latestnote_2">
                <div class="cards_1"> <h4>FUGUE</h4>
                    <p>Action, crime and comedy</p>
                </div>
            </div>
        </div>
        <div class="latest_3">
            <div class="latestpix_3">
                <img src="{% static 'images/LATEST_FILM_3.jpg' %}" alt="shortfilm" width="367px" height="260px">
            </div>
            <div class="latestnote_3">
                <div class="cards_1"> <h4>LADY KOI KOI</h4>
                    <p>Action, crime and comedy</p>
                </div>
            </div>
        </div>
    <i class="fa-solid fa-angle-right arrow"></i>
    </div>
    <hr class="solid">
    <h4 style="text-align: center;">Movies with most reactions</h4>
    <div class="column2" id="column">
        <div class="short_1">
            <div class="shortpix_1">
                <img src="{% static 'images/SHORT_FILM_1.png' %}" alt="shortfilm" width="367px" height="260px">
            </div>
            <div class="shortnote_1">
                <div class="cards_2"><h4>UNOMALANGA</h4>
                 <p>Action, crime and comedy</p>
                </div>
            </div>
        </div>
        <div class="short_2">
            <div class="shortpix_2">
                <img src="{% static 'images/SHORT_FILM_2.jpg' %}" alt="shortfilm" width="367px" height="260px">
            </div>
            <div class="shortnote_2">
                <div class="cards_2"><h4>STOP</h4>
                    <p>Action, crime and comedy</p>
                </div>
            </div>
        </div>
        <div class="short_3">
            <div class="shortpix_3">
                <img src="{% static 'images/SHORT_FILM_3.jpg' %}" alt="shortfilm" width="367px" height="260px">
            </div>
            <div class="shortnote_3">
                <div class="cards_2"> <h4>JAHAAN</h4>
                    <p>Action, crime and comedy</p>
                </div>
            </div>
        </div>
        <div class="short_1">
            <div class="shortpix_1">
                <img src="{% static 'images/SHORT_FILM_1.png' %}" alt="shortfilm" width="367px" height="260px">
            </div>
            <div class="shortnote_1">
                <div class="cards_2"><h4>UNOMALANGA</h4>
                    <p>Action, crime and comedy</p>
                </div>
            </div>
        </div>
        <div class="short_2">
            <div class="shortpix_2">
                <img src="{% static 'images/SHORT_FILM_2.jpg' %}" alt="shortfilm" width="367px" height="260px">
            </div>
            <div class="shortnote_2">
                <div class="cards_2"><h4>THE WAIT</h4>
                    <p>Action, crime and comedy</p>
                </div>
            </div>
        </div>
        <div class="short_3">
            <div class="shortpix_3">
                <img src="{% static 'images/SHORT_FILM_3.jpg' %}" alt="shortfilm" width="367px" height="260px">
            </div>
            <div class="shortnote_3">
                <div class="cards_2"> <h4>JAHAAN</h4>
                    <p>Action, crime and comedy</p>
                </div>
            </div>
        </div>
    <i class="fa-solid fa-angle-right arrow"></i>
    </div>
    <hr class="solid">
    <h4 style="text-align: center;">Most shared movies</h4>
    <div class="column3" id="column">
        <div class="popular_1">
            <div class="popularpix_1">
                <img src="{% static 'images/POPULAR_FILM_1.jpg' %}" alt="popularfilm" width="367px" height="260px">
            </div>
            <div class="popularnote_1">
                <div class="cards_3"> <h4>DONT BEG NOW</h4>
                    <p>Action, crime and comedy</p>
                </div>
            </div>
        </div>
        <div class="popular_2">
            <div class="popularpix_2">
                <img src="{% static 'images/POPULAR_FILM_2.jpg' %}" alt="popularfilm" width="367px" height="260px">
            </div>
            <div class="popularnote_2">
                <div class="cards_3"> <h4>THE WAIT</h4>
                    <p>Action, crime and comedy</p>
                </div>
            </div>
        </div>
        <div class="popular_3">
            <div class="popularpix_3">
                <img src="{% static 'images/POPULAR_FILM_3.jpg' %}" alt="popularfilm" width="367px" height="260px">
            </div>
            <div class="popularnote_3">
                <div class="cards_3"> <h4>UMKHUNGO: THE GIFT</h4>
                    <p>Action, crime and comedy</p>
                </div>
            </div>
        </div>
        <div class="popular_1">
            <div class="popularpix_1">
                <img src="{% static 'images/POPULAR_FILM_1.jpg' %}" alt="popularfilm" width="367px" height="260px">
            </div>
            <div class="popularnote_1">
                <div class="cards_3"> <h4>DONT BEG NOW</h4>
                    <p>Action, crime and comedy</p>
                </div>
            </div>
        </div>
        <div class="popular_2">
            <div class="popularpix_2">
                <img src="{% static 'images/POPULAR_FILM_2.jpg' %}" alt="popularfilm" width="367px" height="260px">
            </div>
            <div class="popularnote_2">
                <div class="cards_3"> <h4>STOP</h4>
                    <p>Action, crime and comedy</p>
                </div>
             </div>
        </div>
        <div class="popular_3">
            <div class="popularpix_3">
                <img src="{% static 'images/POPULAR_FILM_3.jpg' %}" alt="popularfilm" width="367px" height="260px">
            </div>
            <div class="popularnote_3">
                <div class="cards_3"> <h4>UMKHUNGO: THE GIFT</h4>
                    <p>Action, crime and comedy</p>
                </div>
            </div>
        </div>
    <i class="fa-solid fa-angle-right arrow"></i>
    </div>
</div>
<hr class="solid">
            <div class="boat">
                <h1>REACH A LARGE AUDIENCE</h1>
                <p>Your content will be seen by College students in all University
                    and people in the indutries can view your profiles and videos</p><br>
                <a href="Register.html">
                    <button style="color: white;">Sign Up For Free </button>
                </a>
            </div>
        </main>
        <hr class="solid">
        <div class="base">
            <div class="students">
                <img src="{% static 'images/collegestudents.jpg' %}" alt="shortfilm" width="608px" height="455px">
            </div>
            <div class="studentsnote">
            <h2 style="text-align: center;" id="about_us">About Us </h2>
            <p>
                STUDEO is an online movie streaming platform where college students can stream and upload short movies not more 15 mins. our mission is to give young college creatives visibility, learn about our brand, our community and equally be entertained from other creatives contents around.</p>  
        </div> 
    </div>
 
<footer>
    <div class="foot">
        <div class="left">
            <div class="logo"><img src="{% static 'images/logo.svg' %}" alt="logo" width="127px" height="48px"></div>
            <p>STUDEO is an online movie streaming platform where college students can stream and upload short movies not more 15 mins. our mission is to give young college creatives visibility, learn about our brand, our community and equally be entertained from other creatives contents around.</p>  
        </div>
        <div class="middle">
            <h4>Company </h4>
            <p>About Us</p>  
            <p>Contact Us</p> 
            <p>Support</p>   
        </div>
        <div class="right">
        <h4>Legal </h4>
        <p>Term of Use</p>  
            <p>Term of Service</p> 
                <p>Privacy Policy</p>
                    <p>FAQ</p>   
        </div>
    </div>
    <h5><span>&#169</span> 2022 Copyright. All rights reserved.</h5>
</footer>
    <script>
        function openNav() {
            document.getElementById("sidenav").style.width ="50%";
        }
        function closeNav() {
            document .getElementById("sidenav").style.width ="0%";
        }
    </script>
    <script src="{% static 'js/script.js' %} ">

    </script>

{% endblock content %}