{% extends 'base.html' %}
{% load static %}
{% block css %}
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,500,0,200" />
{% endblock css %}

{% block content %}

<div class="video_me">
    <div class="watch">
        <video width="80%" height="2%" controls>
        <source src="{{video.video_path.url}}" type="video/mp4">
    </div>
    <div class="comment">
        <div class="cruise">
            
            <h2>{{ video.title }}</h2>
            <p >50,000 views. Premiered {{ video.created_at }}</p>
            <div class="h">
                <a href="/react-video/?video_id={{video.id}}"><p><span class="material-symbols-outlined">
                    thumb_up
                    </span>{{video.no_of_reacts}}</p></a>
                <a href="/share-video/?video_id={{video.id}}"><p><span class="material-symbols-outlined">
                    share
                    </span>share</p></a>
                <a href="/save-video/?video_id={{video.id}}"><p><span class="material-symbols-outlined">
                    save
                    </span>save</p></a>
            </div>
            <h4>5,000 comments</h4>
            <div class="j">
                <img src="{% static 'images/collegestudent_profilepic.jpg' %}" alt="profilepic" width="50px" height="50px">
                <form action="/comment-video/?video_id={{video.id}}" method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button type='submit'>Comment</button>
                </form>
                {% comment %} <input type="text" placeholder="Add a comment..."> {% endcomment %}
            </div>
            <hr>
            {% for comment in comments reversed %}
                <div class="k">
                    <img src="{% static 'images/collegestudent_profilepic.jpg' %}" alt="profilepic" width="50px" height="50px">
                    <div class="l">
                        <p> {{ comment.user.username }} </p>
                        <p> {{ comment.comment }} </p>
                    </div> 
                </div>
            {% endfor %}
            {% comment %} <div class="k">
                <img src="{% static 'images/collegestudent_profilepic.jpg' %}" alt="profilepic" width="50px" height="50px">
                <div class="l">
                    <h5>Annie Sunday</h5>
                    <p>love this</p>
                </div> 
            </div> {% endcomment %}
            {% comment %} <hr> {% endcomment %}
        </div>
        <div class="play">
            <h2>Similar Movies</h2>
            <img src="{% static 'images/LATEST_FILM_1.jpg' %}" alt="shortfilm" width="416px" height="247px">
            <h4>Big Man</h4>
            <p>1100 views</p>
            <img src="{% static 'images/SHORT_FILM_1.png' %}" alt="shortfilm" width="416px" height="247px">
            <h4>Unomalanga</h4>
            <p>12000 views</p>
            <img src="{% static 'images/POPULAR_FILM_1.jpg' %}" alt="popularfilm" width="416px" height="247px">
            <h4>Dont Beg Now</h4>
            <p>2345 views</p>
        </div>

    </div>
</div>



{% endblock content %}