*{
    margin: 0px;
    padding: 0px;

box-sizing: border-box;}

    
    
   body{
    position: relative;
    width: 1440px;
    height: 1024px;
    
    background: #FFFFFF;
   }
   .rightbar{
    position: absolute;
width: 632px;
height: 1024px;
left: 808px;
top: -1px; 
   }


    .rightbar{
        background-image: url(sign/images/Frame\ 195.png);
        background-size: contain;
        background-repeat:no-repeat;

    }

    .logo{


position: absolute;
width: 172px;
height: 65px;
left: 64px;
top: 36px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 43.235px;
line-height: 65px;
color: #3AA4DA;
    }


    h2{
        position: absolute;
        width: 255px;
        height: 48px;
        left: 64px;
        top: 145px;
        
        font-family: 'Poppins';
        font-style: normal;
        font-weight: 600;
        font-size: 32px;
        line-height: 48px;
        color: #3AA4DA;
    }

    .first{
        
position: absolute;
left: 64px;
right: 50%;
top: 025%;
bottom: 90.5%;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 36px;
color: #3AA4DA;
    }

.firstinpt {

 display: flex;
flex-direction: row;

padding: 10px;
gap: px;

position: absolute;
left: 64px;
top: 30.02%;

background: #FFFFFF;
border: 2px solid rgba(0, 0, 0, 0.5);
border-radius: 8px;
width: 250px;
    }

.second{

position: absolute;
left: 376px;
right: 0%;
top: 025%;
bottom: 90.5%;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 36px;
color: #3AA4DA;

}
.secondinpt{
    display: flex;
flex-direction: row;

padding: 10px;
gap: px;

position: absolute;
left: 376px;
top: 30.02%;

background: #FFFFFF;
border: 2px solid rgba(0, 0, 0, 0.5);
border-radius: 8px;
width: 250px;
    
}
.third{
position: absolute;
left: 64px;
right: 69.29%;
top: 370px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 36px;

color: #3AA4DA;

}
.thirdinpt{
display: flex;
flex-direction: row;
padding: 15px 30px;
gap: 10px;
width: 560px;
position: absolute;
left: 64px;
top: 40.02%;

background: #FFFFFF;
border: 2px solid rgba(0, 0, 0, 0.5);
border-radius: 8px;
}
.fourth{
    position: absolute;
left: 64px;
right: 69.29%;
top: 470px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 36px;

color: #3AA4DA;

}
.fourthinpt{
    
        display: flex;
        flex-direction: row;
        padding: 15px 30px;
        gap: 10px;
        width: 560px;
        position: absolute;
        left: 64px;
        top: 50.02%;
        
        background: #FFFFFF;
        border: 2px solid rgba(0, 0, 0, 0.5);
        border-radius: 8px;
}

form p{
position: absolute;
width: 294px;
height: 30px;
left: 64px;
top: 570px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 30px;
color: #3AA4DA;
}
button{
    display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 16px 32px;
gap: 8px;

position: absolute;
width: 560px;
height: 68px;
left: 64px;
top: 663px;

background: #3AA4DA;
border-radius: 8px;
border: none;
color: #FFFFFF;
cursor: pointer;
}
button a{
    color: #FFFFFF;
    text-decoration: none;
    font-size: 24px;
}
.end{
    position: absolute;
width: 401px;
height: 36px;
left: 133px;
top: 843px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 36px;
}
.end a{
    text-decoration: none;
    font-weight: 900;
    color: #3AA4DA;
}